<form method="post" action="/dashboard/artist/addnew" enctype="multipart/form-data">
    <label for="name">name</label>
    <input  type="text" name="name" value="test artist">
    <label for="isBand">He is in a band</label>
    <input id="isBand" class="input" type="checkbox" name="isBand">
    <label for="description">description</label>
    <input  type="text" name="description" value="test description">
    <label for="picture">picture</label>
    <input type="file" name="picture" id="picture-input">
    <button class="btn" type="submit">add now</button>
</form>