<form method="post" action="/dashboard/label/addnew" enctype="multipart/form-data">
    <label for="name">name</label>
    <input  type="text" name="name" value="test label">
    <label for="city">city</label>
    <input  type="text" name="city" value="test label city">
    <label for="country">country</label>
    <input  type="text" name="country" value="test label country">
    <label for="street">street</label>
    <input  type="text" name="street" value="test label street">
    <label for="streetNumber"></label>
    <input  type="number" name="streetNumber" value="11">
    <label for="zipCode">zipCode</label>
    <input  type="text" name="zipCode" value="test label zipCode">
    <label for="logo">logo</label>
    <input type="file" name="logo" id="logo-input">
    <button class="btn" type="submit">add now</button>
</form>