<form method="post" action="/dashboard/style/{{style.id}}">
    <label for="name">name</label>
    <input  type="text" name="name" value="{{style.name}}">
    <label for="color">color</label>
    <input  type="text" name="color" value="{{style.color}}">
    <label for="wikiURL">wikiURL</label>
    <input  type="text" name="wikiURL" value="{{style.wikiURL}}">
    <button class="btn">edit now</button>
</form>