<form method="post" action="/dashboard/style/addnew">
    <label for="name">name</label>
    <input  type="text" name="name" value="test style">
    <label for="color">color</label>
    <input  type="text" name="color" value="test style color">
    <label for="wikiURL">wikiURL</label>
    <input  type="text" name="wikiURL" value="test style wikiURL">
    <button class="btn">add now</button>
</form>